
                  <div class="clearfix"></div>
                <div class="panel panel-default" id="comentarios">
                    <div class="panel-heading">
                        <div class="pnHeadingLabelComment">{{pnHeadingLabelComment}}</div>
                        
                        
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12">
                            <textarea id="txtAddComment" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-xs-12" style="margin-top:10px;">
                            <button class="btnAddComment btn-primary btn btn-xs pull-right">{{add}}</button>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12 col-xs-12">



<div class="qa-message-list" id="wallmessages">

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-xs-12 text-center" style="margin:20px 0;">
            <button id="btnLoadMore" class="btn btn-default pull-center">{{loadMoreComments}}</button>
        </div>
