<div class="col-md-12">
    <h3> Completed</h3>
    <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-default btn-sm prev-step">{{btnPreviousWizard}}</button></li>
        <li><button id="btnCompleted" type="button" class="btn btn-success btn-info-full btn-sm next-step">{{btnCompletedWizard}}</button></li>
    </ul>
</div>